In [1]:
import warnings; warnings.simplefilter('ignore')

# libraries for data manipulation
import numpy as np 
import pandas as pd

In [2]:
# read csv dataset and load into pandas dataframe object "df"
df = pd.read_csv('complete.csv', encoding='utf_8')

In [3]:
df.head()

,ID,name,full_name,club,club_logo,special,age,league,birth_date,height_cm,...,prefers_cb,prefers_lb,prefers_lwb,prefers_ls,prefers_lf,prefers_lam,prefers_lcm,prefers_ldm,prefers_lcb,prefers_gk
0,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,https://cdn.sofifa.org/18/teams/243.png,2228,32,Spanish Primera División,1985-02-05,185.0,...,False,False,False,False,False,False,False,False,False,False
1,158023,L. Messi,Lionel Messi,FC Barcelona,https://cdn.sofifa.org/18/teams/241.png,2158,30,Spanish Primera División,1987-06-24,170.0,...,False,False,False,False,False,False,False,False,False,False
2,190871,Neymar,Neymar da Silva Santos Jr.,Paris Saint-Germain,https://cdn.sofifa.org/18/teams/73.png,2100,25,French Ligue 1,1992-02-05,175.0,...,False,False,False,False,False,False,False,False,False,False
3,176580,L. Suárez,Luis Suárez,FC Barcelona,https://cdn.sofifa.org/18/teams/241.png,2291,30,Spanish Primera División,1987-01-24,182.0,...,False,False,False,False,False,False,False,False,False,False
4,167495,M. Neuer,Manuel Neuer,FC Bayern Munich,https://cdn.sofifa.org/18/teams/21.png,1493,31,German Bundesliga,1986-03-27,193.0,...,False,False,False,False,False,False,False,False,False,True

In [4]:
df.columns

Index(['ID', 'name', 'full_name', 'club', 'club_logo', 'special', 'age',
       'league', 'birth_date', 'height_cm',
       ...
       'prefers_cb', 'prefers_lb', 'prefers_lwb', 'prefers_ls', 'prefers_lf',
       'prefers_lam', 'prefers_lcm', 'prefers_ldm', 'prefers_lcb',
       'prefers_gk'],
      dtype='object', length=185)

In [5]:
df

,ID,name,full_name,club,club_logo,special,age,league,birth_date,height_cm,...,prefers_cb,prefers_lb,prefers_lwb,prefers_ls,prefers_lf,prefers_lam,prefers_lcm,prefers_ldm,prefers_lcb,prefers_gk
0,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,https://cdn.sofifa.org/18/teams/243.png,2228,32,Spanish Primera División,1985-02-05,185.0,...,False,False,False,False,False,False,False,False,False,False
1,158023,L. Messi,Lionel Messi,FC Barcelona,https://cdn.sofifa.org/18/teams/241.png,2158,30,Spanish Primera División,1987-06-24,170.0,...,False,False,False,False,False,False,False,False,False,False
2,190871,Neymar,Neymar da Silva Santos Jr.,Paris Saint-Germain,https://cdn.sofifa.org/18/teams/73.png,2100,25,French Ligue 1,1992-02-05,175.0,...,False,False,False,False,False,False,False,False,False,False
3,176580,L. Suárez,Luis Suárez,FC Barcelona,https://cdn.sofifa.org/18/teams/241.png,2291,30,Spanish Primera División,1987-01-24,182.0,...,False,False,False,False,False,False,False,False,False,False
4,167495,M. Neuer,Manuel Neuer,FC Bayern Munich,https://cdn.sofifa.org/18/teams/21.png,1493,31,German Bundesliga,1986-03-27,193.0,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17989,237463,A. Kelsey,Adam Kelsey,Scunthorpe United,https://cdn.sofifa.org/18/teams/1949.png,755,17,English League One,1999-11-12,188.0,...,False,False,False,False,False,False,False,False,False,True
17990,11728,B. Richardson,Barry Richardson,Wycombe Wanderers,https://cdn.sofifa.org/18/teams/1933.png,832,47,English League Two,1969-08-05,185.0,...,False,False,False,False,False,False,False,False,False,True
17991,231381,J. Young,Jordan Young,Swindon Town,https://cdn.sofifa.org/18/teams/1934.png,1194,17,English League Two,1999-07-31,175.0,...,False,False,False,False,False,False,False,False,False,False
17992,238813,J. Lundstram,Josh Lundstram,Crewe Alexandra,https://cdn.sofifa.org/18/teams/121.png,1302,18,English League Two,1999-02-19,176.0,...,False,False,False,False,False,False,False,False,False,False
17993,238308,L. Sackey,Leslie Sackey,Scunthorpe United,https://cdn.sofifa.org/18/teams/1949.png,1031,18,English League One,1998-11-29,182.0,...,True,False,False,False,False,False,False,False,False,False

In [6]:
df.shape

(17994, 185)

In [7]:
#These means there are 17.994 players with 185 attributes

In [8]:
# Visualice the name of each columns and 
# the corresponding number for selection
for e, col in enumerate(df.columns):
    print(e,"->",col)

0 -> ID
1 -> name
2 -> full_name
3 -> club
4 -> club_logo
5 -> special
6 -> age
7 -> league
8 -> birth_date
9 -> height_cm
10 -> weight_kg
11 -> body_type
12 -> real_face
13 -> flag
14 -> nationality
15 -> photo
16 -> eur_value
17 -> eur_wage
18 -> eur_release_clause
19 -> overall
20 -> potential
21 -> pac
22 -> sho
23 -> pas
24 -> dri
25 -> def
26 -> phy
27 -> international_reputation
28 -> skill_moves
29 -> weak_foot
30 -> work_rate_att
31 -> work_rate_def
32 -> preferred_foot
33 -> crossing
34 -> finishing
35 -> heading_accuracy
36 -> short_passing
37 -> volleys
38 -> dribbling
39 -> curve
40 -> free_kick_accuracy
41 -> long_passing
42 -> ball_control
43 -> acceleration
44 -> sprint_speed
45 -> agility
46 -> reactions
47 -> balance
48 -> shot_power
49 -> jumping
50 -> stamina
51 -> strength
52 -> long_shots
53 -> aggression
54 -> interceptions
55 -> positioning
56 -> vision
57 -> penalties
58 -> composure
59 -> marking
60 -> standing_tackle
61 -> sliding_tackle
62 -> gk_diving
63 -> gk_handling
64 -> gk_kicking
65 -> gk_positioning
66 -> gk_reflexes
67 -> rs
68 -> rw
69 -> rf
70 -> ram
71 -> rcm
72 -> rm
73 -> rdm
74 -> rcb
75 -> rb
76 -> rwb
77 -> st
78 -> lw
79 -> cf
80 -> cam
81 -> cm
82 -> lm
83 -> cdm
84 -> cb
85 -> lb
86 -> lwb
87 -> ls
88 -> lf
89 -> lam
90 -> lcm
91 -> ldm
92 -> lcb
93 -> gk
94 -> 1_on_1_rush_trait
95 -> acrobatic_clearance_trait
96 -> argues_with_officials_trait
97 -> avoids_using_weaker_foot_trait
98 -> backs_into_player_trait
99 -> bicycle_kicks_trait
100 -> cautious_with_crosses_trait
101 -> chip_shot_trait
102 -> chipped_penalty_trait
103 -> comes_for_crosses_trait
104 -> corner_specialist_trait
105 -> diver_trait
106 -> dives_into_tackles_trait
107 -> diving_header_trait
108 -> driven_pass_trait
109 -> early_crosser_trait
110 -> fan's_favourite_trait
111 -> fancy_flicks_trait
112 -> finesse_shot_trait
113 -> flair_trait
114 -> flair_passes_trait
115 -> gk_flat_kick_trait
116 -> gk_long_throw_trait
117 -> gk_up_for_corners_trait
118 -> giant_throw_in_trait
119 -> inflexible_trait
120 -> injury_free_trait
121 -> injury_prone_trait
122 -> leadership_trait
123 -> long_passer_trait
124 -> long_shot_taker_trait
125 -> long_throw_in_trait
126 -> one_club_player_trait
127 -> outside_foot_shot_trait
128 -> playmaker_trait
129 -> power_free_kick_trait
130 -> power_header_trait
131 -> puncher_trait
132 -> rushes_out_of_goal_trait
133 -> saves_with_feet_trait
134 -> second_wind_trait
135 -> selfish_trait
136 -> skilled_dribbling_trait
137 -> stutter_penalty_trait
138 -> swerve_pass_trait
139 -> takes_finesse_free_kicks_trait
140 -> target_forward_trait
141 -> team_player_trait
142 -> technical_dribbler_trait
143 -> tries_to_beat_defensive_line_trait
144 -> poacher_speciality
145 -> speedster_speciality
146 -> aerial_threat_speciality
147 -> dribbler_speciality
148 -> playmaker_speciality
149 -> engine_speciality
150 -> distance_shooter_speciality
151 -> crosser_speciality
152 -> free_kick_specialist_speciality
153 -> tackling_speciality
154 -> tactician_speciality
155 -> acrobat_speciality
156 -> strength_speciality
157 -> clinical_finisher_speciality
158 -> prefers_rs
159 -> prefers_rw
160 -> prefers_rf
161 -> prefers_ram
162 -> prefers_rcm
163 -> prefers_rm
164 -> prefers_rdm
165 -> prefers_rcb
166 -> prefers_rb
167 -> prefers_rwb
168 -> prefers_st
169 -> prefers_lw
170 -> prefers_cf
171 -> prefers_cam
172 -> prefers_cm
173 -> prefers_lm
174 -> prefers_cdm
175 -> prefers_cb
176 -> prefers_lb
177 -> prefers_lwb
178 -> prefers_ls
179 -> prefers_lf
180 -> prefers_lam
181 -> prefers_lcm
182 -> prefers_ldm
183 -> prefers_lcb
184 -> prefers_gk

In [9]:
# Dicard unnecesary rows
# There are 185 however the load of data
# will only be done with the selected columns

selectedColumns = [0,2,3,6,7,8,9,10,14,19]

# load data into a DataFrame object named 'df'
df = pd.read_csv('complete.csv', encoding='utf_8', usecols=selectedColumns)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df.head(5))

,ID,full_name,club,age,league,birth_date,height_cm,weight_kg,nationality,overall
0,20801,C. Ronaldo dos Santos Aveiro,Real Madrid CF,32,Spanish Primera División,1985-02-05,185.0,80.0,Portugal,94
1,158023,Lionel Messi,FC Barcelona,30,Spanish Primera División,1987-06-24,170.0,72.0,Argentina,93
2,190871,Neymar da Silva Santos Jr.,Paris Saint-Germain,25,French Ligue 1,1992-02-05,175.0,68.0,Brazil,92
3,176580,Luis Suárez,FC Barcelona,30,Spanish Primera División,1987-01-24,182.0,86.0,Uruguay,92
4,167495,Manuel Neuer,FC Bayern Munich,31,German Bundesliga,1986-03-27,193.0,92.0,Germany,92

In [10]:
df.shape

(17994, 10)

In [11]:
df = df.set_index('ID')

In [12]:
df.head()

,full_name,club,age,league,birth_date,height_cm,weight_kg,nationality,overall
ID,,,,,,,,,
20801,C. Ronaldo dos Santos Aveiro,Real Madrid CF,32,Spanish Primera División,1985-02-05,185.0,80.0,Portugal,94
158023,Lionel Messi,FC Barcelona,30,Spanish Primera División,1987-06-24,170.0,72.0,Argentina,93
190871,Neymar da Silva Santos Jr.,Paris Saint-Germain,25,French Ligue 1,1992-02-05,175.0,68.0,Brazil,92
176580,Luis Suárez,FC Barcelona,30,Spanish Primera División,1987-01-24,182.0,86.0,Uruguay,92
167495,Manuel Neuer,FC Bayern Munich,31,German Bundesliga,1986-03-27,193.0,92.0,Germany,92

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17994 entries, 20801 to 238308
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   full_name    17994 non-null  object
 1   club         17741 non-null  object
 2   age          17994 non-null  int64
 3   league       17741 non-null  object
 4   birth_date   17994 non-null  object
 5   height_cm    17994 non-null  float64
 6   weight_kg    17994 non-null  float64
 7   nationality  17994 non-null  object
 8   overall      17994 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 1.4+ MB

The next step is to prepare data for the analysis.

The preparation requieres:

4.1 Manage soccer players duplication (if any)
4.2 Manage empty values (if any)
4.3 Extract information from date of birth
4.4 Create categories for player's overall

In [14]:
# Look for duplicates
df.duplicated().sum()

0

In [15]:
# look for Nan values (if any)
pd.isnull(df).sum()

full_name        0
club           253
age              0
league         253
birth_date       0
height_cm        0
weight_kg        0
nationality      0
overall          0
dtype: int64

This shows that there are empty values in columns:

club

league

Each of these columns contain 253 empty values

In [16]:
# Display % clubs with NaN values
df.club.isnull().value_counts() / len(df)

False    0.98594
True     0.01406
Name: club, dtype: float64

In [17]:
# Display % leagues with NaN values
df.club.isnull().value_counts() / len(df)

False    0.98594
True     0.01406
Name: club, dtype: float64

Relevant facts:

Data missing is about 'club' and 'league',

Data missing is 1.5% from the total

I have decided to fill the Nan values of club and league to value "unknown" in order to proceed.

In [18]:
# club and league NaN values are asigned "Unknown"
df.club.fillna("Unknown", inplace=True)
df.league.fillna("Unknown", inplace=True)

In [19]:
# look for Nan values (if any)
pd.isnull(df).sum()

full_name      0
club           0
age            0
league         0
birth_date     0
height_cm      0
weight_kg      0
nationality    0
overall        0
dtype: int64

In [20]:
# Extraction of the month information from the 'birth_date' information
df['month'] = pd.DatetimeIndex(df['birth_date']).month
df['year'] = pd.DatetimeIndex(df['birth_date']).year

# Set the type of column 'month' and 'year' as int
df.month = df.month.astype(int)
df.year = df.year.astype(int)

In [21]:
#Lets create a column with the overall category of the player
df.overall.describe()

count    17994.000000
mean        66.253029
std          6.946729
min         46.000000
25%         62.000000
50%         66.000000
75%         71.000000
max         94.000000
Name: overall, dtype: float64

Looking at this we can see that the minimun value of overall for a player is

46

and the maximum value of overall is:

94

This information will be use to create different categories in scale of 10 units from 40 to 100

In [22]:
# Prepare a new column "overallCat" to save data about
# overall categories will be:
# 10, 20, 30, 40, 50, 60, 70, 80, 90, 100

# First we create and empty column:
df['overallCat'] = np.nan

# Then the column value is changed depending on the given conditions
df['overallCat'].loc[(df['overall'] > 40) & (df['overall'] <=50 )] = 40
df['overallCat'].loc[(df['overall'] > 50) & (df['overall'] <=60 )] = 50
df['overallCat'].loc[(df['overall'] > 60) & (df['overall'] <=70 )] = 60
df['overallCat'].loc[(df['overall'] > 70) & (df['overall'] <=80 )] = 70
df['overallCat'].loc[(df['overall'] > 80) & (df['overall'] <=90 )] = 80
df['overallCat'].loc[(df['overall'] > 90) & (df['overall'] <=100 )] = 90

# display the total values for each category
df.overallCat.value_counts()

60.0    9577
70.0    4434
50.0    3389
80.0     385
40.0     203
90.0       6
Name: overallCat, dtype: int64

In [23]:
df.shape

(17994, 12)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17994 entries, 20801 to 238308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   full_name    17994 non-null  object
 1   club         17994 non-null  object
 2   age          17994 non-null  int64
 3   league       17994 non-null  object
 4   birth_date   17994 non-null  object
 5   height_cm    17994 non-null  float64
 6   weight_kg    17994 non-null  float64
 7   nationality  17994 non-null  object
 8   overall      17994 non-null  int64
 9   month        17994 non-null  int32
 10  year         17994 non-null  int32
 11  overallCat   17994 non-null  float64
dtypes: float64(3), int32(2), int64(2), object(5)
memory usage: 1.6+ MB

In [25]:
df

,full_name,club,age,league,birth_date,height_cm,weight_kg,nationality,overall,month,year,overallCat
ID,,,,,,,,,,,,
20801,C. Ronaldo dos Santos Aveiro,Real Madrid CF,32,Spanish Primera División,1985-02-05,185.0,80.0,Portugal,94,2,1985,90.0
158023,Lionel Messi,FC Barcelona,30,Spanish Primera División,1987-06-24,170.0,72.0,Argentina,93,6,1987,90.0
190871,Neymar da Silva Santos Jr.,Paris Saint-Germain,25,French Ligue 1,1992-02-05,175.0,68.0,Brazil,92,2,1992,90.0
176580,Luis Suárez,FC Barcelona,30,Spanish Primera División,1987-01-24,182.0,86.0,Uruguay,92,1,1987,90.0
167495,Manuel Neuer,FC Bayern Munich,31,German Bundesliga,1986-03-27,193.0,92.0,Germany,92,3,1986,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...
237463,Adam Kelsey,Scunthorpe United,17,English League One,1999-11-12,188.0,74.0,England,46,11,1999,40.0
11728,Barry Richardson,Wycombe Wanderers,47,English League Two,1969-08-05,185.0,77.0,England,46,8,1969,40.0
231381,Jordan Young,Swindon Town,17,English League Two,1999-07-31,175.0,71.0,Scotland,46,7,1999,40.0
238813,Josh Lundstram,Crewe Alexandra,18,English League Two,1999-02-19,176.0,61.0,England,46,2,1999,40.0
238308,Leslie Sackey,Scunthorpe United,18,English League One,1998-11-29,182.0,72.0,Ghana,46,11,1998,40.0

In [26]:
df.to_csv("collection.csv")

Error Management

During the analysis of the information on the dataset I have found out that, for some reason, all players in "Campeonato Brasileiro Série A" were born in february

I have looked into wikipedia for information regarding soccer players in the Campeonato Brasileiro Série A. It turns out that not all 320 players on this league were born in february.

Until I modify this dataset to contain the right information I have decided to delete all soccer players in "Campeonato Brasileiro Série A".

This is a total of 320 players to be erased

In [27]:
# lets select players form the league and count for each month how many there are. 

numPlayers = df[df['league']== "Campeonato Brasileiro Série A"]['month'].value_counts()
print("Number of players on Campeonato Brasileiro Série A by month of birth:\n",numPlayers)

Number of players on Campeonato Brasileiro Série A by month of birth:
 2    320
Name: month, dtype: int64

In [28]:
print("Before deleting there are: \t",(len(df.league.value_counts())), " leagues")

# Deletion of these players is done by:
df = df[df['league'] != 'Campeonato Brasileiro Série A']

print("After deleting there are: \t",(len(df.league.value_counts())), " leagues")

Before deleting there are: 	 42  leagues
After deleting there are: 	 41  leagues

In [30]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
# Connect to the PostgreSQL database
conn = psycopg2.connect(
    host='localhost',
    port='5433',
    database='collection',
    user='postgres',
    password='Nit$0205'
)

df = pd.read_csv('collection.csv', encoding='utf_8')

engine = create_engine('postgresql+psycopg2://postgres:Nit$0205@localhost:5433/collection')

# Define the table name to update the DataFrame
table_name = 'football'

# Update the data in the PostgreSQL database
df.to_sql(table_name, engine, if_exists='replace', index=False)

# Close the database connection
conn.close()

print('Data updated in the PostgreSQL database.')

Data updated in the PostgreSQL database.